/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lucida+Grande');
@import url('https://fonts.googleapis.com/css?family=Lucida+Sans+Unicode');


/* MISC FIXES */
body{margin:0;box-sizing:border-box;}
html, body{overflow-x:hidden;width:100%;}

body{background: -webkit-gradient(linear, left top, right top, from(#fdac75), to(#f76039)) fixed;}

/* NAV BAR */
#nav-container{position:fixed;width:100%;height:60px;}/*TRANSFORM*/
#nav-container{background:-webkit-gradient(linear, left top, right top, from(#fdac75), to(#f76039)) fixed;z-index:1;}/*STYLE*/
#nav-container{transition:0.35s background;}

#nav-fix{position:relative;top:37%;transformY(-50%);}/*V-ALIGN*/
#nav-fix{left:50px;}/*TRANSFORM*/

.company-name{left:1%;}

.nav-but{position:relative;height:100%;padding:0 30px;}/*TRANSFORM*/
.nav-but{transition: 0.35s color;}
.nav-but{color:white;font-family:'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;text-decoration:none;text-transform:uppercase;font-size:15px;}/*TEXT STYLE*/

.nbtn{left:5%;}

.login{transition:0.35s border;}
.login{position:relative;bottom:10px;}/*V-ALIGN*/
.login{border:solid 1px white;float:right;right:10%;border-radius:20px;background:none;padding:10px 30px;}


/* [SECTION] PAGE CONTENTS */

#content-container{position:absolute;top:70px;width:100%;height:100%;}
#content-container{}

/* [CONTENT] WELCOME */

#sec-welcome{position:relative;left:50%;transform:translateX(-50%);}
#sec-welcome{top:100px;width:80%;}
#sec-welcome{font-family:Roboto;color:white;}/*TEXT*/

#welcome-title{font-size:70px;}

#welcome-desc{position:relative;bottom:30px;width:50%;}/*TRANSFORM*/
#welcome-desc{font-size:20.5px;}

#learn-more-btn{position:relative;padding:16px 20px;}
#learn-more-btn{background:white;border-radius:8px;font-size:15px;color:gray;box-shadow:0px 14px 37px 1px rgba(0,0,0,0.1);}

/* [CONTENT] DESC */

#sec-desc{position:relative;left:50%;transform:translateX(-50%);}
#sec-desc{top:500px;}

#tri-design{position:relative;left:50%;transform:translateX(-50%) rotate(4deg);}
#tri-design{background:white;width:110%;height:300px;}

#desc-advs{position:absolute;left:50%;transform:translateX(-50%);}
#desc-advs{width:100%;height:1000px;top:125px;}
#desc-advs{background:white;}

#desc-fix{position:relative;left:50%;transform:translateX(-50%);}
#desc-fix{width:60%;}

#desc-title{color:gray;text-align:center;font-size:35px;font-family:Lato;}

.adv{position:relative;float:left;width:22.99%;margin:30px 3%;padding:15px;}/*TRANSFORM*/
.adv:after{clear:both;}
.adv{background:white;border-radius:10px;box-shadow:0px 14px 37px 1px rgba(0,0,0,0.15);}/*STYLE*/

.adv-title{position:relative;padding:5px 20px;}
.adv-title{font-family:Lato;font-size:20px;}

.adv-desc{position:relative;left:50%;transform:translateX(-50%);}
.adv-desc{width:90%;}
.adv-desc{font-family:Lato;font-size:14.5px;}

/* [CONTENT] RATING */

#sec-rating{position:relative;width:100%;height:250px;top:1120px;}
#sec-rating{color:white;background:#26282c;}

#rating-container{position:relative;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);}
#rating-container{width:40%;}
#rating-container{top:115px;}

#rating-rating{font-size:22px;}
#rating-rating{position:relative;top:10px;}

#rating-quote{font-size:16px;font-family:Open Sans;}
#rating-quote:before{content:"“";font-family:Sans;font-size:37px;}
#rating-quote:after{content:"”";font-family:Sans;}

#rating-org{position:relative;left:70px;font-family:Lato;font-size:16px;}
#rating-org{}
#rating-org:before{content:"- ";}

